language: node_js
node_js:
  - "9.4"
after_script:
  - npm run-script test -- -u
env:
  - NODE_ENV="travis"
notifications:
  slack:
    rooms:
      redpelicans:xCuMR4Ld1A0cSDdgpgYtJvrW#schooljs
      redpelicans:xCuMR4Ld1A0cSDdgpgYtJvrW#ci
services: mongodb
after_success:
  - codecov
